.container{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Heading{
  width: 100%;
  text-align: center;
}
.Heading h1{
  font-weight: bolder;
}
.StockDetails{
  text-align: center;
}